############
## IntelliJ
############
logs
project/project
project/target
tmp/
.history
dist/
.idea/
*.iml
out/
.idea_modules
RUNNING_PID

# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
db
eclipse
lib
log
logs
modules
precompiled
project/project
project/target
target
tmp
test-result
server.pid
*.iml
*.eml